[jenkins]
# Uzupełnij IP z: terraform output jenkins_public_ip
jenkins ansible_host=JENKINS_PUBLIC_IP ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/devops-diploma

[k3s]
# Uzupełnij IP z: terraform output k3s_public_ip
k3s ansible_host=K3S_PUBLIC_IP ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/devops-diploma

[all:vars]
ansible_python_interpreter=/usr/bin/python3.10
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
